.container {
    .row{
        .text-center{
            color:purple;
        }
    }
    .mystyl {
        :hover {
            font-size: 7rem;
            font-family: Georgia, "Times New Roman", Times, serif;
            color: teal;
            border: 1rem aqua;
            border-radius: 20%;
        }
    }
}
 